@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Regular";
    src: local("Lato-Regular"),
    url('../src/assets/fonts/Lato-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("Lato-Bold"),
    url('../src/assets/fonts/Lato-Bold.ttf') format("truetype");
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 5px;
}